<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-citrixitm-index") %>>
          <a href="/docs/providers/citrixitm/index.html">Citrix ITM Provider</a>
        </li>

        <% if false %>
        <li<%= sidebar_current("docs-citrixitm-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
          </ul>
        </li>
        <% end %>

        <li<%= sidebar_current("docs-citrixitm-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-resource-citrixitm-dns-app") %>>
              <a href="/docs/providers/citrixitm/r/dns_app.html">citrixitm_dns_app</a>
            </li> 
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
